@page
@model LoginDemo.Pages.Manager.AdPositionModel
@{
    ViewData["Title"] = "广告位置";
}


<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>广告位置</h5>
                    </div>
                    <div class="ibox-content">
                        <a type="button" href="@Model._OperatingUrl" class="btn btn-primary">增加</a>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>名称</th>

                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.GetTs)
                                {

                                    <tr>
                                        <td>@Html.DisplayFor(temp => x.Id)</td>
                                        <td>@Html.DisplayFor(temp => x.Name)</td>


                                        <td>
                                            <a href="@Model._OperatingUrl/@x.Id" class="btn btn-warning btn-xs" type="button">编辑</a>
                                            <button type="button" class="btn btn-danger btn-xs" onclick="Delete('@Model._thisUrl','Delete',@x.Id)">删除</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <pager page-data="@Model.PageData"></pager>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/js/content.min.js?v=1.0.0"></script>
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/js/demo/peity-demo.min.js"></script>
    <script src="~/js/CZBJavaScript.js"></script>
    <script>
        $(document).ready(function () { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });

        $('.table-image').mouseover(function () {
            $(this).next().show();
        }).mouseout(function () {
            $(this).next().hide();
        });
    </script>

</body>
<!--
<h2>广告位置</h2>
<div class="row">
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" onclick="window.location.href='@Model._OperatingUrl'">添加</button>
    </div>
</div>
@if (Model.GetTs != null && Model.GetTs.Count != 0)
{
    <table class="table" style="height:500px">
        <thead>
            <tr>
                <th><label asp-for="GetT.Id"></label></th>
                <th><label asp-for="GetT.Name"></label></th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.GetTs)
            {
                <tr>
                    <td>@Html.DisplayFor(temp => x.Id)</td>
                    <td>@Html.DisplayFor(temp => x.Name)</td>

                    <td>
                        <button type="button" class="btn btn-info btn-sm" onclick="window.location.href='@Model._OperatingUrl/@x.Id'">编辑</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="Delete('@Model._thisUrl','Delete',@x.Id)">删除</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <pager page-data="@Model.PageData"></pager>
}
else
{
    <h1>找不到数据,请重试</h1>
}

    -->
