@page "{id:int}"
@model LoginDemo.Pages.Home.DoctorModel
@{
    ViewData["Title"] = "Doctor";
}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>汕头大学精神卫生中心</title>
    <meta name="keywords" content="汕头大学精神卫生中心">
    <meta name="description" content="汕头大学精神卫生中心">
    <link rel="stylesheet" type="text/css" href="~/jingfile/basic.css">
    <link href="~/dist/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/jingfile/style.css">
    <link rel="stylesheet" type="text/css" href="~/jingfile/list.css">
    <link rel="stylesheet" type="text/css" href="~/jingfile/animations.css">
    <link rel="stylesheet" type="text/css" href="~/jingfile/tab.css">
    <link rel="stylesheet" type="text/css" href="~/jingfile/page.css">
    <script type="text/javascript" src="~/jingfile/jquery.js"></script>
    <script type="text/javascript" src="~/jingfile/script.js"></script>
    <script type="text/javascript" src="~/jingfile/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/jingfile/nav.js"></script>
    <script type="text/javascript" src="~/jingfile/slide-js.js"></script>
    <link rel="shortcuticon" href="http://www.stuh.com.cn/favicon.ico">
</head>
<body>

    <div id="wrap">
        <!--顶部菜单栏-->
        <!--主页logo 搜索栏-->
        <div class="clearfix top2">
            <div class="clearfix w1000">
                <div class="logo fl">
                    <a href="http://www.stuh.com.cn/"><img src="~/jingfile/logojing.png"></a>
                </div>

            </div>
        </div>
        @await Component.InvokeAsync(nameof(Shared.Components.LayOutHead))
        <div class="pagemain">
            <div class="clearfix w1000">
                <div class="page-banner"><img src="~/img/guanyu.png" /></div>             
                        <div class="pagetext">
                            <div class="listsn clearfix">
                                <div class="pagez clearfix">
                                    <div class="ktop clearfix">
                                        <div class="fl pr-right">
                                            <a href="/home/home">首页</a><span> &gt; </span>专家 &gt;
                                        </div>
                                    </div>
                                    <div class="k-main clearfix">
                                        <div class="y1 clearfix">
                                            <div class="fl yimg"><img src="@Model.GetT.Image"></div>
                                            <div class="y1-right fr">
                                                <b class="y-title1">@Model.GetT.Name</b>
                                                <div class="ylist clearfix">
                                                    <ul>
                                                        <li><strong>性别：</strong>
                                                        @if (@Model.GetT.Sex == 0)
                                                        {
                                                           <a>女</a> 
                                                        }
                                                        else
                                                        {
                                                           <a>男</a>
                                                        }
                                                        </li>
                                                        <li><strong>科室：</strong>@Model.GetT.Room</li>
                                                        <li><strong>职称：</strong>@Model.GetT.Job </li>
                                                        <li><strong>门诊科室：</strong>@Model.GetT.OpRoom</li>
                                                        <li>
                                                            <strong>学历/学位：</strong>
                                                            @switch (Model.GetT.Edu)
                                                            {
                                                                case 1:<a>初中</a> break;
                                                                case 2:<a>高中</a>break;
                                                                case 3:<a>本科</a> break;
                                                                case 4:<a>硕士</a>break;
                                                                case 5:<a>博士</a> break;
                                                                case 6:<a>博士后</a> break;
                                                            }
                                                        </li>
                                                        <li><strong>出诊时间：</strong>@Model.GetT.OpTime</li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k3 clearfix">
                                            <b class="k2-title">个人简介</b>
                                            <div class="k3-text">
                                                <p>
                                                    <span style="line-height:2em;">
                                                        <span style="font-size:16px;">
                                                            <span style="font-family:微软雅黑;">
                                                                @Model.GetT.Description
                                                            </span>
                                                        </span>
                                                    </span><br>
                                                    &nbsp;
                                                </p>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>                        
                        </div>
            </div>
        </div>

        @await Component.InvokeAsync(nameof(Shared.Components.LayOutFoot))

    </div>
</body>
