@page
@model LoginDemo.Pages.Manager.ArticleMod.ArticleReviewModel
@{
    ViewData["Title"] = "文章审核列表";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/dist/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/dist/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/dist/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/dist/css/animate.min.css" rel="stylesheet">
    <link href="~/dist/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>文章审核列表</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">

                            <div class="col-sm-3">
                                <form method="get">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入文章标题关键词" id="searchtitle" class="form-control">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary" onclick="Search()"> 搜索</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>文章标题</th>
                                    <th>文章分类</th>
                                    <th>提交人</th>
                                    <th>审核状态</th>
                                    <th>添加时间</th>
                                    <th>审核时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.HmArticleTempMods)
                                {
                                <tr>
                                    <td>@x.HmArticle.Id</td>
                                    <td>@x.HmArticle.Title</td>
                                    <td>@x.HmArticleCategory.Name</td>
                                    <td>@x.HmAdmin.Username</td>
                                    <td>
                                        @if (x.HmReview.Review == 1)
                                        {
                                            <a style="color:gray">待审核</a>
                                        }
                                        else if (x.HmReview.Review == 2)
                                        {
                                            <a style="color:green">审核通过</a>
                                        }
                                        else
                                        {
                                            <a style="color:red">审核不通过</a>
                                        }
                                    </td>

                                    <td>@x.DateTime</td>
                                    <td>
                                        @if (x.HmReview.Reviewtime != 0)
                                        {
                                            @Help.HelpPageClass.HelpClass.ConvertToTime((uint)x.HmReview.Reviewtime)
                                        }

                                    </td>
                                    <td>
                                        <a href="/Manager/ArticleMod/ArticleRead/@x.HmArticle.Id" class="btn btn-primary btn-xs" type="button">预览</a>
                                        <a href="/Manager/ArticleMod/ArticleReview/?handler=SetReview&id=@x.HmArticle.Id&review=2" class="btn btn-success btn-xs" type="button">通过</a>
                                        <a href="/Manager/ArticleMod/ArticleReview/?handler=SetReview&id=@x.HmArticle.Id&review=3" class="btn btn-danger btn-xs" type="button">不通过</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <pager page-data="@Model.PageData"></pager>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/dist/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/dist/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/dist/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/dist/js/content.min.js?v=1.0.0"></script>
    <script src="~/dist/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/dist/js/demo/peity-demo.min.js"></script>
    <script src="~/js/CZBJavaScript.js"></script>

    <script>
        $(document).ready(function () { $(".i-checks").iCheck({ checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green", }) });

        $('.table-image').mouseover(function () {
            $(this).next().show();
        }).mouseout(function () {
            $(this).next().hide();
        });
    </script>



</body>






<script>
    function Search() {
        let title = $('#searchtitle').val();
        if (title.length > 0)
            window.location.href = "/Manager/ArticleMod/ArticleReview/?handler=ByTitle&title=" + title;
        else alert("不能空搜索");
    }
</script>
